* {
    margin: 0;
    padding: 0;
}

:root {
    --Color1-Det:#f7f700;
    --Color2-HyF:#060000; 
    --Color3-Fondo: grey; 
    --Color4: white;
    --Color5: #D9D9D9;
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family:"courier","arial narrow","sans-serif";
    width: calc(100vw - (100vw - 100%));
    background-color: var(--Color3-Fondo);
}


header {
    background-color:var(--Color2-HyF);     
    padding: 32px 16px;               
    position: static;                  
    top: 0;
    z-index: 100;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0; 
    border-bottom: 1px solid var(--color6);
    border-top: 1px solid var(--color6);
   

    }


header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;                
}
header nav ul li {                  
    padding: 4px 2px;              
    transition: all 0.5s;        
    cursor: pointer;               
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
}
header nav ul li a {                 
    flex-direction: row;
    padding: 4px 2px;
    justify-content: center;
    align-items: center;
}
header nav ul li a {               
    text-decoration: none;          
    color: rgb(240, 236, 236);
    font-weight: bold;
}
header nav ul li:hover {            
    background-color: #ff0505;      
}

.menuhead{
    margin-top: 5px;
    margin-left: 5px;
    border: 2px;
    border-radius: 26px;
    color: rgb(246, 246, 246);
    margin-bottom: 1px;
    font-display: center;
    font-size:  1.5em;    
    transition: 3s;
}

.menuhead:hover{
    background-color: red;
    color: black;
}



#desp-menu{
    color: rgb(224, 224, 224);
    display: flex;
    align-items: flex-start;
    padding-left: 25px;
    font-size: 15px;
    text-decoration: none;
    
}


.section {
    padding: 32px 42px;
}
.section h1, .section h2 {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}
#inicio {
    background-color: darkred;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    text-align: center;
    height: 15vh;
    position: relative;
}
#inicio p {
    background-color: rgba(255, 255, 255, 0.944);
    border-radius: 8px;
    padding: 16px 32px;
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    height: 64px;
}
#inicio img {
    position: absolute;
    bottom: 16px;
    left: 12px;
    right: 55%;
    height: 64px;
    width: 40vw;
    border-radius: 8px;
}

#productos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#productos div ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
}
#productos   div ul li {
    display: flex;
    flex-direction: column;
    list-style: none; 
    margin: 16px 16px;
    background-color: var(--Color5);
    border-radius: 16px;
    padding: 32px 16px;
}
#productos div ul li div div a
{    text-decoration: none;         
}

#productos div ul li img {
    margin: 16px 16px;
    border-radius: 8px;    
}
#productos div ul li h3 {
    color: var(--Color2-HyF);
}
#productos div ul li div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#productos div ul li div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 4px 12px;
    background-color: var(--Color2-HyF);
    border-radius: 16px;
    padding: 12px 12px;
    height: 16px;
}
#productos div ul li div div img, #productos div ul li div div a {
    color: white;
}


#about div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}
#about div article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    border-radius: 8px;
    padding: 8px 12px;
    width: 30%;
    max-width: 480px;
}
#about div article img {
    margin-bottom: 12px;
    text-align: center;
    border-radius: 16px;}
    
    #about div article p {
        text-align: center;
    }


footer {
    background-color: var(--Color2-HyF);      
    padding: 32px 16px;              
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;               
}
footer nav ul li {                  
    padding: 4px 8px;              
    transition: all .5s;            
    cursor: pointer;                
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
}
footer nav ul li a {                 
    flex-direction: row;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
}
footer nav ul li a {                
    text-decoration: none;          
    color: white;
}
footer nav ul li:hover {            
    background-color: var(--color3);   
}
footer div {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: var(--Color3-Fondo);
}
footer div img {
    height: 32x;
    width: 32px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

footer div p {
    color: var(--Color5);

}
.redes {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.redes img {
    height: 20px;
    width: 20px;
    margin: 4px;
}